.logo{
    display: flex;
    justify-content: center;
   height:150px;
   width: 100%;
   padding-left: 50px;
   
}


@media screen and (max-width: 768px) {
    .logo {
      height: 100px; 
      padding-left: 20px;
    }
  }
  
  
  @media screen and (max-width: 480px) {
    .logo {
      height: 80px;
    
    }
  }